#sha{
	background-image: url("../images/1.jpg");
	background-color: yellow;
	height: 500px;
	}
h1{
	text-align: center;
	font-style: italic;
}
#sun{
	font-style: inherit;
	font-size: 1.5em;
}
#moon{
	font-style: italic;
	font-size:2em;
	color:yellow;
}
#star{
	font-size: 100%;
	color:green;
}
#milo{
	color: yellow;
	font-size:2em;
}
